@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(
      circle at top,
      rgba(35, 80, 180, 0.18),
      transparent 40%
    ),
    #050505;

  color: white;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #2563eb;
  color: white;
}